:root {
  --clr-primary-400: hsl(0, 0%, 100%);
  --clr-primary-dark:hsla(248, 13%, 16%, 1);

  --clr-accent-400: hsla(28, 93%, 57%, 1);
  --clr-accent-500: rgb(245, 168, 100);
  --clr-accent-300: hsla(28, 100%, 82%, 1);
  --clr-accent-100: hsl(13, 100%, 96%);
  --clr-neutral-500: hsla(200, 34%, 32%, 1);
  --clr-neutral-700: hsla(220, 9%, 38%, 1);
  --clr-neutral-900: hsla(248, 13%, 16%, 1);
  --clr-neutral-100:hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 96%);
  --clr-neutral-300: hsl(0,0%,40%);
  --ff-primary: 'Work Sans', sans-serif;
  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);
  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;
  --fs-300: .8125rem;
  --fs-400: .875rem;
  --fs-500: .9375rem;
  --fs-600: 1rem;
  --fs-700: 1.875rem;
  --fs-800: 2.5rem;
  --fs-900: 3.5rem;
  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-900);
  --fs-secondary-heading: var(--fs-700);
  --fs-nav: var(--fs-500);
  --fs-button: var(--fs-300);
  --size-100: .25rem;
  --size-200: .5rem;
  --size-300: .75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-900: 5rem;
}

@media(min-width: 50em) {
  :root {
    --fs-body: var(--fs-500);
    --fs-primary-heading: var(--fs-900);
    --fs-secondary-heading: var(--fs-800);
    --fs-nav: var(--fs-300);
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* general  */
body {
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  color: var(--clr-primary-400);
  background-color: var(--clr-neutral-100);

}

p:not([class]) {
  opacity: 0.7;
  max-width: 32ch;
}

p[data-width="wide"] {
  max-width: 42ch;
}

.button {
  display: inline-flex;
  border: 0;
  text-decoration: none;
  border-radius: 5px;
  padding: 1.25em 2.5em;
  font-weight: var(--fw-bold);
  font-size: var(--fs-button);
  line-height: 1;
  color: var(--clr-neutral-100);
  background-color: var(--clr-accent-400);
  /* box-shadow: 0 .1em 1em .05em var(--clr-accent-500); */
}

/* navigation */
.primary-header {
  position: absolute;
  top: 3em;
  left: 0;
  right: 0;
  padding: var(--size-600) var(--size-500);
  border: 1px var(--clr-neutral-200) solid;
  border-radius: 2em;
}
@media (max-width: 55em){
  .primary-header{
    top: .3em;
  }
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-nav-toggle {
  display: none;
}

.nav-list {
  font-size: var(--fs-nav);
}

.nav-list {
  display: flex;
  gap: clamp(var(--size-400), 5vw, var(--size-700));
  font-weight: var(--fw-semi-bold);
}

.nav-list a {
  text-decoration: none;
  color: var(--clr-accent-100);
}

.nav-list a:hover,
.nav-list a:focus {
  text-decoration: none;
  color: var(--clr-accent-400);
}

.phone {
  padding-right: 1em;
  border: 2px solid var(--clr-accent-400);
  border-radius: 22px 0 0 22px;
}

.container-circle {
  /* height: 40px;
  width: 40px; */
  background-color: var(--clr-accent-400);
  border-radius: 50%;
  padding: .5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.phone {
  text-decoration: none;
  color: var(--clr-primary-400);
  font-size: var(--fs-nav);
}

.phone:hover,
.phone:focus {
  color: var(--clr-accent-400);
  scale: 1.1;
}

@media(max-width: 50em) {
  .primary-header{
    margin:0;
    border: none;
    border-radius: 0;
    border-bottom: 1px var(--clr-neutral-200) solid;
  }
  .primary-navigation {
    display: none;
    position: fixed;
    padding: var(--size-700);
    inset: 7rem var(--size-400) auto;
    max-width: 25rem;
    margin-left: auto;
    background: var(--clr-neutral-900);
    border-radius: var(--size-100);
    box-shadow: 0 0 .75em rgb(0, 0, 0, .05);
    z-index: 99;
  }

  .primary-header[data-overlay]::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 /.8));
  }

  .nav-list {
    display: grid;
    gap: var(--size-600);
    text-align: center;
    font-weight: var(--fw-bold);
  }

  .primary-navigation[data-visible] {
    display: block;
  }

  .mobile-nav-toggle {
    display: block;
    position: fixed;
    top: var(--size-600);
    right: var(--size-400);
    z-index: 100;
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0.5em;
  }

  .icon-open, .icon-close {
    color: var(--clr-accent-100)
  }

  .mobile-nav-toggle .icon-close {
    display: none;
    color: var(--clr-neutral-100);
  }
}

/* footer */

.primary-footer{
  padding-top: 4rem;
}

.primary-footer-wrapper{
  display: grid;
  gap: var(--size-700);
  grid-template-areas:
  "form"
  "nav"
  "logo-social";
  justify-items: center;
}

@media(min-width: 50em){
  .primary-footer-wrapper{
    grid-template-areas: "logo-social nav form";
  }
  .primary-footer-logo-social{
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--size-700);
  }
}
.primary-footer-logo-social{
  grid-area: logo-social;
  display: flex;
  flex-direction: column-reverse;
  gap: var(--size-700);
}

.primary-footer-nav{
  grid-area: nav;
}
.primary-footer-form{
  grid-area: form;

  display: grid;
  align-content: space-between;
}

.primary-footer form{
  display: flex;
  gap: var(--size-200);
}

input:where([type="text"], [type="email"],)
{
  border-radius: 100vw;
  border: 0;
  padding: var(--size-300) var(--size400);
}


.primary-footer-logo-social h3{
  font-size: 26px;
  font-family: var(--ff-primary);
  line-height: 1.5;
  text-transform: uppercase;
}

/* --------------------------- container --------------------------------*/
.container {
  max-width: 1100px;
  margin-inline: auto;
}
/* hero-page */

#hero-page{
  background-color: var(--clr-neutral-900);
}
#hero-page h1, h2{
  font-size: var(--fs-900);
  font-weight: 700;
  line-height: 1;
}

.hero-page-grid{
  margin-top: 9em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}
@media (max-width: 55em){
  .hero-page-grid{
    margin-top: 4.5em;
  }
}
.container-tab .bot-line {
  width: var(--size-500);
  border-bottom: var(--clr-accent-400) solid 1px;
}
#hero-page button{
  margin-top: 2.5em;
}

#hero-page .text-content{
  display: block;
  padding: 1.5em;
}

@media(max-width: 50em) {
  #hero-page .text-content{
    width: 400px
  }
  #hero-page h1, h2{
    font-size: var(--fs-800);
  }
  .image-holder{
    position: absolute;
    width: 220px;
    height: 250px;
    left: 50%;
    top: 21%;
    opacity: .3;
    overflow: hidden;
    }
}

/* Sections - Cleaning - washing - polishing - coating */
/* tab */
.tabs{

  grid-column: 1 / 3;

  padding-top: var(--size-500);
  display: grid;
  grid-template-columns:repeat(4, 1fr);
  grid-template-rows: auto;
  gap: var(--size-200);
  justify-items: end;
}
.counters{
  counter-reset: number-lists;
}

.text-tab{
  position: relative;
  font-size: var(--fs-600);
  color: var(--clr-primary-400);
  /* width: 100px; */
}

.text-tab::before{
  counter-increment: number-lists;
  content: "0" counter(number-lists) " ";
  color: var(--clr-accent-400);
  font-size: var(--size-400);

}
.text-tab::after{
  content: '';
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -107%;
  width: 100px;
  height: 1px;
  bottom: 43%;
  background-color: var(--clr-accent-300);
  opacity: .6;
}
@media(max-width: 55em) {
  .tabs{
    margin-top: 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    gap: 0;
  }
  .text-tab::before{
    left: -75%;
    width: 45px;
  }
}
/* ------------------------------------------- */

/* About Page */
#about{
  background-color: var(--clr-neutral-900);
  padding-bottom: var(--size-900);
}
#about .d-flex {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-600);
  justify-content: center;
  padding: 0 1em;
  max-width: 1100px;
  margin-inline: auto;
}

.left-side{
  /* width: 100%;
  max-width: 735px; */
  flex-basis: 60%;
  border-radius: 2em;
  padding: 3em;
  text-align: left;
}
#about .text-content{
  display: block;
  text-align: left;
  width: 100%;
}
.right-side-bar {
  /* width: 300px; */
  flex-basis: min-content;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-primary-400);
  border-radius: 2em;
  text-align: center;
}
@media(max-width: 55em) {
  .right-side-bar,.left-side{
    flex-basis: fit-content;
  }
}

.circle {
  padding: 1em;
  background-color: var(--clr-accent-300);
  border-radius: 50%;
}

.desc-wrapper {
  width: 200px;
  padding: 2em;
}

.desc-wrapper h4 {
  color: var(--clr-neutral-500);
  font-size: var(--fs-500);
  font-weight: 600;
}

.desc-wrapper::before {
  content: "100%";
  font-size: var(--fs-900);
  color: var(--clr-neutral-500);
  font-weight: 700;
}

.title-content {
  display: block;
  margin-inline: auto;
  position: relative;
  max-width: 660px;
  padding: var(--size-800) var(--size-400) 0 var(--size-400);
  text-align:center;
}
.title-content p{
  margin-top: 1em;
}

.title-content::before{
  content: "maestrodetail";
  font-size: var(--clr-accent-500);
  color: var(--clr-accent-400);
  font-weight: 600;
  padding: 0 .5em;

}

/* -------------------------- About page -------------------------------- */

.title-page-grid{
  margin-top: 10rem;
  display: grid;
  grid-template-columns: 500px 1fr;
  grid-template-rows: auto;
}
@media(max-width: 55em) {

.title-page-grid{
  grid-template-columns: 1fr;
  }
  .img-holder{
    display: none;
  }
}
.about-grid{
  margin-top: 5em;
  padding: 1em;
  width: 100%;
  max-width: 1100px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 200px 1fr 1fr;
  gap: 1em;
  position: relative;
}
@media(max-width: 55em) {

  .about-grid{
    grid-template-columns: 1fr;
    }

  }
.about-grid::after{
  content: " ";
  position: absolute;
  width: 120%;
  height: 100%;
  /* Image doesn't work here */
  background: url(./images/orange-car.png) no-repeat;
  background-position: center;
  background-size: fit;
  opacity: 10%;
}
.orange-box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 1.5rem;
  border-radius: 30px;
  height: 300px;
  max-width: 200px;
  justify-self: center;
  background-color: var(--clr-accent-400);
  border: orange 3px solid;
}
.orange-box h3{
  font-size: var(--fs-600);
  text-align: center;
  line-height: 1.2;
}
.orange-box span{
  font-size: var(--fs-800);
  font-weight: var(--fw-bold);
}
.about-text-wrapper{
  padding: 1.5em 1em;
}

.about-content-wrapper{
  color: var(--clr-primary-dark);
  padding: 2em;
  background-color: #EDE4E4;
  border-radius: 25px;
}
.about-content-wrapper h4{
  font-size: var(--fs-700);
  font-weight: var(--fw-semi-bold);
  line-height: 1.1;
}
.about-content-wrapper ul{
  padding: 1em;
  list-style: none;
}
.about-content-wrapper li{
  padding: .5em;
}
.about-content-wrapper li::before{
  content: "\2192" " ";
  font-size: 1.5em;
  color: green;
  font-weight: var(--fw-bold);

}
#hero-page .img-holder img{
  object-fit: fit;
  
}
#hero-page .img-holder{
  justify-self: center;
  /* border: 15px orange solid; */
  /* border-radius: 100%; */
  overflow: hidden;
}

.grid-col-2{
  margin-inline: auto;
  max-width: 1100px;
  display: grid;
  grid-template-columns: 1fr 500px;
}
.flex-cards-container{
  display: grid;
}
.flex-card{
  padding-left: 2em;
  display:grid;
  grid-template-columns: 110px 1fr;
  grid-template-rows: 200px;
  gap: 10px;
}

.flex-card h3{
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
  position: relative;
  padding: .7em 0em;
}

.flex-card h3::before{
  counter-increment: number-lists;
  content: "0" counter(number-lists) " ";
  color: var(--clr-accent-400);
}
.flex-card h3::after{
  content: '';
  box-sizing: border-box;
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  max-width: 100px;
  background-color: var(--clr-accent-300);
  bottom: 50%;
  top: 50%;
  left: -32%;

}
.about-icon-wrapper{
  padding: 1.5em;
  border: 3px solid orange;
  border-radius: 25px;
  align-self: center;
}

/* ------------------------------------Service-Page------------------------*/
.full-service-bg-image{
background-color: var(--clr-neutral-900);}

.fs-title-content{
  display: block;
  width: 100%;
  max-width: 1100px;
  padding: 15rem 0;
  margin-inline: auto;
  text-align: center;
}
.fs-title-content h1{
  font-size: var(--fs-primary-heading);
  font-weight: var(--fw-bold);
}
.fs-title-content h3{
  font-size: var(--fs-700)
}
.num-cars-sold{
  margin-inline: auto;
  width: 500px;
  position: relative;

}
.num-cars-sold::before{
  content: "5000";
  color: var(--clr-accent-400);
  font-size: 200px;
  font-weight: var(--fw-bold);
  top: -20%;
  letter-spacing: 7px;
  opacity: .2;
  z-index: -1;
  position: absolute;
}
.num-cars-sold h2{
  text-align: center;
}
.num-cars-sold p{
  text-align: center;
}
.service-container{
  background-color: var(--clr-neutral-900);
}
.service-card{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 500px;
  border: 1px solid black;
  background-color: white;
}

.service-text-wrapper{
  margin-left: 3em;
}
.service-card .service-text-wrapper h3, .service-card .service-text-wrapper p{
  text-align: center;
}
.service-card .service-text-wrapper h3{
  margin-top: 1.5em;
  font-size: 2em;
  font-weight: var(--fw-bold);
}
.service-card ul{
  margin-top: 1.5em;
  line-height: 2em;
}

.service-img{
  object-fit: cover;
  height: 500px;
  width: 100%;
  max-width: 500px;
}

@media(max-width: 55em) {

  .service-card{
    grid-template-columns: 1fr;
    position: relative;
    }
  .service-img{
    width: 100%;
  }
  .title-wrapper h3, .title-wrapper p{
    color: white;
  }
  .title-wrapper{
    position: absolute;
    display: block;
    z-index: 99;
    right:0;
    left: 0;
    top: 25%; 
  }



  }
/* __________________________________________________________________ */

.grid{
  max-width: 1100px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 200px max(450px) 200px;
  grid-template-rows: auto;
  justify-content: space-between;
 
  padding: 0 1em;
}
@media(max-width: 55em) {
  .grid{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "picture picture"
    "left right" ;
    gap: 3em;
  }
  
  .rs-car{
    grid-area: picture;
  }
  .rs-col-left{
    grid-area: left;
  }
  .rs-col-right{
    grid-area: right;
  }
}

.orange-middle-car{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card {
  display: grid;
  height: 300px;
}
.col
{
  display: grid;
  gap: var(--size-600);
}
.right{
  justify-self: flex-end;
}
.right h3{
  text-align: right;
}

.icon-wrapper {
  padding: 1.5em 0 var(--size-100);
}

.icon-wrapper img {
  padding: 1.5em;
  border: 1px solid var(--clr-accent-500);
  border-radius: 1.5em;
}
.right img{
  float: right;
}

.card h3 {
  font-size: 1.46em;
  font-weight: 600;
}

.card p{
  font-size: var(--fs-400);
}
.right p{
  text-align: right;
}
.left-counter, .right-counter{
  position: relative;
  font-size: var(--fs-600);
  color: var(--clr-primary-400);
}

.left-counter::before{
  counter-increment: number-lists;
  content: "0" counter(number-lists) " ";
  color: var(--clr-accent-400);
  font-size: var(--size-400);
  position: absolute;
  top: -20px;

}
.left-counter::after{
  content: '';
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: -9px;
  left: 28px;
  width: 100px;
  height: 1px;
  background-color: var(--clr-accent-300);
  opacity: .6;
}

.right-counter::before{
  counter-increment: number-lists;
  content: "0" counter(number-lists) " ";
  color: var(--clr-accent-400);
  font-size: var(--size-400);
  position: absolute;
  top: -20px;
  left: 180px;

}
.right-counter::after{
  content: '';
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: -9px;
  left: 70px;
  width: 100px;
  height: 1px;
  background-color: var(--clr-accent-300);
  opacity: .6;
}

/* pricing */
.bg-white{
  background-color: white;
  color: black;
}

/* call to action */
.row-1{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  align-items: center;
  grid-template-areas: "word image button";
}
.row-1 .text-content{
  grid-area: word;
}
.image-placer-bubble{
  grid-area: image;
  justify-self: center;
}
.button-container{
  grid-area: button;
  justify-self: center;
  padding: 1em;
}

@media(max-width: 55em) {
  .row-1{
    grid-template-columns: 1fr;
    grid-template-areas: 
    "image"
    "word"
    "button";
  }
  .image-placer-bubble img{
    height: 250px;
    width: 250px;
  }
}
#cta .text-content{
  padding: 1rem;
  font-size: 26px;
  line-height: 1.1;
  font-weight: 500;
}
.text-content h2{
  padding-top: .5em;
}
.row-2{
  padding: 1.5rem 0;
  display: grid;
  grid-template-areas: "contact image address";
  justify-items: center;
  align-items: center;
  gap: 1.1rem;
}

@media(max-width: 55em) {
  .row-2{
    grid-template-areas:
    "contact"
    "image"
    "address";
  }
}
.contact-info{
  grid-area: contact;
}
.image-placer{
  grid-area: image;
}
.address-container{
  grid-area: address;
}
.contact-info h3{
  font-size: 26px;
  line-height: 1.1;
  font-weight: 500;
}
.address-container{
  padding: 1.5rem;
}

/* -------------------services ------------------------ */
.services-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 700px);
  grid-template-areas:
  "fullservice fullservice"
  "interior exterior";
}
.services-grid .service-1{
  background: url("https://images.unsplash.com/photo-1516853123998-f89d74dac6db?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  grid-area: fullservice;
  width: 100%;
  height: 100%;
  text-align: center;

}
.services-grid .service-2{
  background: url("https://images.unsplash.com/photo-1533630217389-3a5e4dff5683?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-position: bottom center;
  grid-area: interior;
  width: 100%;
  text-align: center;
  
}
.services-grid .service-3{
  grid-area: exterior;
  background:url("https://images.unsplash.com/photo-1632685062262-6c4eb7da6bb1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-position: bottom center;
  width: 100%;
  text-align: center;
}
.service-1, .service-2, .service-3{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

/* Testimonials */
#review{
  padding: var(--size-800) .5em;
}
#review .item-1 span{
  color: var(--clr-accent-400);
  font-weight: 700;
  position: relative;
  line-height: 1.5;
}

#review .item-1 .d-flex{
  display: flex;
  gap: 1.5em;
}
#review .item-1 .d-flex h3{
  align-self: flex-end;
  color: var(--clr-accent-400);
  font-weight: 800;
  position: relative;

}
#review .item-1 .d-flex img{
  height: 80px;
  width: 80px;
}
#review .d-grid{
  padding: 5em 0;
  gap: 1.5em;
  box-shadow: 0 10px 6px -6px #777;
  border: 3px solid var(--clr-neutral-700);
  background-color: var(--clr-primary-400);

  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-areas: "title image testimonial";
  grid-template-rows: auto;

  justify-content: center;
  align-items: center;

}
@media (max-width: 55em){
  #review .d-grid{
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "title"
    "image"
    "testimonial";
  }
}
.item-1{
  grid-area: title;
  padding: 1.5em;
  justify-self: center;
}
.item-1 h3{
  font-size: var(--fs-900);
}
.item-1 h4{
  font-size: var(--fs-700);
}
.item-2{
  grid-area: image;
  justify-self: center;
}
.item-2 img{
  border-radius: 25px;

}
.item-3{
  grid-area: testimonial;
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
}
.item-3 img{
  margin: 1.5rem;
  justify-self: center;
}
.quote{
  color: var(--clr-neutral-900);
  font-size: 1rem;
  line-height: 1.6;
  padding: 1.5rem;
  width: 100%;
}
.author{
  color: var(--clr-neutral-900);
  font-size: 1rem;
  padding: 0 1.5rem;
  font-weight: 800;
  text-align: end;
   margin-right: 3rem;
}
.author::before{
  content: "- "
}

.number-cars{
  width: 60%;
  color: var(--clr-neutral-500);

  margin-inline: auto;
  background-color: transparent;
  position: relative;
}
.number-cars h3{
  font-size: 2.7rem;
  font-weight: 525;
  line-height: 1.1;
}
.number-cars::before{
  content:"5000";
  color: var(--clr-accent-400);
  font-size: 8rem;
  letter-spacing: .1em;
  font-weight: 800;
  position: absolute;
  opacity: .2;
}
.number-cars{
  text-align: center;
}
@media(min-width: 50em) {
  .number-cars h3{
    font-size: 4.5rem;
  }
  .number-cars::before{
    font-size: 14rem;
  }

}

.item{
  background-color: var(--clr-neutral-100);
  width: 300px;
  height: auto;
  border-radius: 10px;
  padding: 3em 0;
  color: var(--clr-neutral-500);
  list-style-type: none;
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  display: grid;
  align-items: center;
}
.item button{
  margin-top: 1.5rem;
  margin-inline: auto;
}
.button-container{
  margin-inline: auto;
}

.item li{
  list-style: none!important;
  margin-inline: auto;
  padding: .6rem 0rem;
  margin-left: 4rem;
}

.item li::before{
  color: green;
  font-weight: 900;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  content: "\2713";
  background: var(--clr-accent-300);
  height: 20px;
  width: 20px;
  position: absolute;
  left: 34px;
}
.item h4{
  padding: .8rem;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.5;
  color: var(--clr-neutral-500);
}
.item h4, .item h5{
  text-align: center;
}
.d-flex-row{
display: flex;
flex-wrap: wrap;
gap: 1.2rem;
justify-content: center;
align-items: center;
}

.list-style-none{
  list-style: none;
}

/* social-list */
.social-list{
  display: flex;
  gap: var(--size-600);
}
.social-icon{
  width: var(--size-600);
  gap: var(--clr-neutral-100);
  aspect-ratio: 1;
}
.flow{
  list-style-type: none;
  display: grid;
  gap: 1.1em;
}
.footer-nav a{
  color: var(--clr-neutral-100);
  text-decoration: none;
  font-size: var(--fs-600);
}
.footer-nav a:is(:hover, :focus){
  color: var(--clr-accent-400);
}
/* Utilities */
.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.container {
  --max-width: 1110px;
  --container-padding: 1rem;
  width: min(var(--max-width), 100% - var(--container-padding)*2);
  margin-inline: auto;
}

.text-primary {
  color: var(--clr-primary-400);
}
.text-primary-dark{
  color: var(--clr-primary-dark);
}
.text-accent {
  color: var(--clr-accent-400);
}

.text-accent-100 {
  color: var(--clr-accent-100);
}

.text-accent-300 {
  color: var(--clr-accent-300);
}

.text-neutral-100 {
  color: var(--clr-neutral-100);
}

.text-neutral-200 {
  color: var(--clr-neutral-200);
}

.text-neutral-900 {
  color: var(--clr-neutral-900);
}

.bg-image{
  background-image: url(./images/bubble-bg.png);
}
.bg-primary-400 {
  background-color: var(--clr-primary-400);
}

.bg-accent-400 {
  background-color: var(--clr-accent-400);
}

.bg-accent-100 {
  background-color: var(--clr-accent-100);
}

.bg-accent-300 {
  background-color: var(--clr-accent-300);
}

.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}

.bg-neutral-200 {
  background-color: var(--clr-neutral-200);
}

.bg-neutral-500 {
  background-color: var(--clr-neutral-500);
}

.bg-neutral-700 {
  background-color: var(--clr-neutral-700);
}

.bg-neutral-900 {
  background-color: var(--clr-neutral-900);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
  line-height: 1.1;
}

.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
  line-height: 1.1;
}

.fs-300 {
  font-size: var(--fs-300)
}

.fs-400 {
  font-size: var(--fs-400)
}

.fs-500 {
  font-size: var(--fs-500)
}

.fs-600 {
  font-size: var(--fs-600)
}

.fs-700 {
  font-size: var(--fs-700)
}

.text-transform-upper {
  text-transform: uppercase;
}

.align-text-center{
  text-align: center;
}
/* padding */
.padding-block-300 {
  padding-block: var(--size-300);
}

.padding-block-400 {
  padding-block: var(--size-400);
}

.padding-block-500 {
  padding-block: var(--size-500);
}

.padding-block-600 {
  padding-block: var(--size-600);
}

.padding-block-700 {
  padding-block: var(--size-700);
}

.padding-block-800 {
  padding-block: var(--size-800);
}

.padding-block-900 {
  padding-block: var(--size-900);
}

.display-sm-none {
  display: none;
}

.d-flex-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


@media(min-width: 50em) {
  .display-md-inline-flex {
    display: inline-flex;
    justify-items: center;
    align-items: center;
    gap: var(--fs-500);
  }
}

.line{
  position: relative;
  margin-left:2em;
  font-size: .8em;
}
.line::before{
  content: "";
  display: block;
  width: 1.5em;
  height: 1.7px;
  background-color: var(--clr-accent-100);
  left: -1.8em;
  top: 46%;
  position: absolute;
}
.link{
  color: white;
  font-size: 1.2rem;
  font-weight: var(--fw-bold);
  text-decoration: none;
}